/* Import Font Style */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0.24);
  --color-expense: #e6452ddc;
  --color-income: #459e2de4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Lato, sans-serif;
}

.container {
  margin: 2rem auto;
  /* TODO: */
  max-width: 350px;
}

h1 {
  letter-spacing: 1px;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 0.6125rem;
}

h4 {
  text-transform: uppercase;
}

.container__inc-exp {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  margin: 1.125rem 0;
}

.container__income,
.container__expense {
  flex: 1;
  text-align: center;
}

.container__income {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 0.25rem 0;
}

.money__income {
  color: var(--color-income);
}

.money__expense {
  color: var(--color-expense);
}

label {
  display: inline-block;
  margin: 0.625rem 0;
  font-weight: 900;
}

.input__amount,
.input__message {
  border: 1px solid #dedede;
  border-radius: 4px;
  display: block;
  font-size: 1rem;
  padding: 0.625rem;
  width: 100%;
}

.btn {
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  border: 0;
  font-size: 1rem;
  color: #f7f7f7;
  padding: 0.75em 1.5em;
  width: 100%;
  margin-top: 1em;
}
.btn__delete {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(150%, -50%);
  background-color: var(--color-expense);
  color: #f7f7f7;
  opacity: 0;
  transition: opacity 0.1s ease-in;
}

.list {
  list-style: none;
  margin-bottom: 2.875rem;
}

.transaction {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0.625rem;
  border-radius: 4px;
  border: 0;
  margin: 0.625rem 0;
}

.amount__expense {
  color: var(--color-expense);
}
.amount__income {
  color: var(--color-income);
}

.transaction__expense {
  border-right: 5px solid var(--color-expense);
}
.transaction__income {
  border-right: 5px solid var(--color-income);
}

.list li:hover .btn__delete,
.list li:focus .btn__delete {
  opacity: 1;
}
